#image {
  background: url('https://edm.com/.image/t_share/MTkxMjI1NjQ3OTE2MzkzNzYz/artworks-mi5xxqdbq7yx-0-t500x500.jpg') no-repeat center center fixed;
  width: 100%;
}

.no-padding {
  object-fit: cover;
  padding-left: 0;
  padding-right: 0;
}

#line{
  background-color: black;
  color: white;
}
#bottomMenu {
  background-color: black;
  color: white;
}

a.nav-link{
  color: white;
}

#bgcol{
  background-color: black;
}
